<matrix-project plugin="matrix-project@{{ matrix_project_plugin_version }}">
<description />
<keepDependencies>false</keepDependencies>
<properties>
    <hudson.model.ParametersDefinitionProperty>
        <parameterDefinitions>
            <hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition
                plugin="matrix-combinations-parameter@{{ matrix_combinations_plugin_version }}">
                <name>test1</name>
                <shortcutList>
                    <hudson.plugins.matrix__configuration__parameter.shortcut.ResultShortcut>
                        <name>Successful</name>
                        <exact>false</exact>
                        <resultsToCheck>
                            <string>SUCCESS</string>
                        </resultsToCheck>
                    </hudson.plugins.matrix__configuration__parameter.shortcut.ResultShortcut>
                    <hudson.plugins.matrix__configuration__parameter.shortcut.ResultShortcut>
                        <name>Failed</name>
                        <exact>false</exact>
                        <resultsToCheck>
                            <string>FAILURE</string>
                        </resultsToCheck>
                    </hudson.plugins.matrix__configuration__parameter.shortcut.ResultShortcut>
                    <hudson.plugins.matrix__configuration__parameter.shortcut.MatrixCombinationsShortcut_-All />
                    <hudson.plugins.matrix__configuration__parameter.shortcut.MatrixCombinationsShortcut_-None />
                </shortcutList>
            </hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition>
            <hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition
                plugin="matrix-combinations-parameter@{{ matrix_combinations_plugin_version }}">
                <name>test2</name>
                <shortcutList>
                    <hudson.plugins.matrix__configuration__parameter.shortcut.ResultShortcut>
                        <name>Successful</name>
                        <exact>false</exact>
                        <resultsToCheck>
                            <string>SUCCESS</string>
                        </resultsToCheck>
                    </hudson.plugins.matrix__configuration__parameter.shortcut.ResultShortcut>
                    <hudson.plugins.matrix__configuration__parameter.shortcut.ResultShortcut>
                        <name>Failed</name>
                        <exact>false</exact>
                        <resultsToCheck>
                            <string>FAILURE</string>
                        </resultsToCheck>
                    </hudson.plugins.matrix__configuration__parameter.shortcut.ResultShortcut>
                    <hudson.plugins.matrix__configuration__parameter.shortcut.MatrixCombinationsShortcut_-All />
                    <hudson.plugins.matrix__configuration__parameter.shortcut.MatrixCombinationsShortcut_-None />
                </shortcutList>
            </hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition>
        </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
</properties>
<scm class="hudson.scm.NullSCM" />
<canRoam>true</canRoam>
<disabled>false</disabled>
<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
<triggers />
<concurrentBuild>false</concurrentBuild>
<axes>
    <hudson.matrix.TextAxis>
        <name>test axis 1</name>
        <values>
            <string>A</string>
            <string>B</string>
            <string>C</string>
        </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
        <name>test axis 2</name>
        <values>
            <string>D</string>
            <string>E</string>
            <string>F</string>
        </values>
    </hudson.matrix.TextAxis>
</axes>
<builders />
<publishers />
<buildWrappers />
<executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
</executionStrategy>
</matrix-project>
