<project>
    <description />
    <keepDependencies>false</keepDependencies>
    <properties />
    <scm class="hudson.scm.NullSCM" />
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers />
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command>echo "hello world!"</command>
            <configuredLocalRules />
        </hudson.tasks.Shell>
    </builders>
    <publishers>
        <org.jenkinsci.plugins.postbuildscript.PostBuildScript
            plugin="postbuildscript@{{ postbuildscript_plugin_version }}">
            <config>
                <scriptFiles />
                <groovyScripts />
                <buildSteps>
                    <org.jenkinsci.plugins.postbuildscript.model.PostBuildStep>
                        <results>
                            <string>SUCCESS</string>
                        </results>
                        <role>BOTH</role>
                        <buildSteps>
                            <hudson.tasks.Shell>
                                <command>{{ postbuildscript_command }}</command>
                                <configuredLocalRules />
                            </hudson.tasks.Shell>
                        </buildSteps>
                        <stopOnFailure>false</stopOnFailure>
                    </org.jenkinsci.plugins.postbuildscript.model.PostBuildStep>
                </buildSteps>
                <markBuildUnstable>false</markBuildUnstable>
            </config>
        </org.jenkinsci.plugins.postbuildscript.PostBuildScript>
    </publishers>
    <buildWrappers />
</project>
