name: Integration tests

on:
  pull_request:

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      pre-run-script: |
        -c "sudo microk8s config > ${GITHUB_WORKSPACE}/kube-config
        chmod +x tests/integration/pre_run_script.sh
        ./tests/integration/pre_run_script.sh"
      extra-arguments: |
        --kube-config ${GITHUB_WORKSPACE}/kube-config
      modules: '["test_jenkins.py", "test_k8s_agent.py", "test_machine_agent.py", "test_plugins.py", "test_plugins_machine.py", "test_proxy.py"]'
