name: Integration tests

on:
  pull_request:

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      channel: 1.28-strict/stable
      extra-arguments: |
        --kube-config=${GITHUB_WORKSPACE}/kube-config
      modules: '["test_auth_proxy.py", "test_cos.py", "test_ingress.py", "test_jenkins.py", "test_k8s_agent.py", "test_machine_agent.py", "test_plugins.py", "test_proxy.py", "test_upgrade.py", "test_external_agent.py"]'
      pre-run-script: |
        -c "sudo microk8s config > ${GITHUB_WORKSPACE}/kube-config
        chmod +x tests/integration/pre_run_script.sh
        ./tests/integration/pre_run_script.sh"
      juju-channel: 3.1/stable
      self-hosted-runner: true
      self-hosted-runner-label: "xlarge"
      microk8s-addons: "dns ingress rbac storage metallb:10.15.119.2-10.15.119.4 registry"

  integration-tests2.9:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      channel: 1.28-strict/stable
      extra-arguments: |
        --kube-config=${GITHUB_WORKSPACE}/kube-config
      modules: '["test_auth_proxy.py", "test_cos.py", "test_ingress.py", "test_jenkins.py", "test_k8s_agent.py", "test_machine_agent.py", "test_plugins.py", "test_proxy.py", "test_upgrade.py", "test_external_agent.py"]'
      pre-run-script: |
        -c "sudo microk8s config > ${GITHUB_WORKSPACE}/kube-config
        chmod +x tests/integration/pre_run_script.sh
        ./tests/integration/pre_run_script.sh"
      juju-channel: 2.9/stable
      self-hosted-runner: true
      self-hosted-runner-label: "xlarge"
      microk8s-addons: "dns ingress rbac storage metallb:10.15.119.2-10.15.119.4 registry"
